.item-details-container {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
}

.coin-name-container {
  display: flex;
  width: 20%;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.amount-container {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
}

.coin-details {
  color: #ffffff;
  font-family: 'Roboto';
  font: 14px;
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .item-details-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .coin-details {
    font-size: 12px;
  }

  .amount-container {
    width: 50%;
  }

  .logo {
    width: 20px;
    height: 20px;
  }
}
